.theme-dark {
  --table-header-font: var(--header-font);
  --code-border-width: 1px;
  --table-row-alt-background: var(--background-primary-alt);
  --table-row-alt-background-hover: var(--background-primary-alt);
}

.theme-light {
  --table-header-font: var(--header-font);
  --code-border-width: 1px;
  --table-row-alt-background: var(--background-primary-alt);
  --table-row-alt-background-hover: var(--background-primary-alt);
}

