# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store



test-vault/.obsidian/workspace.json
test-vault/.obsidian/themes/Nordic/*.css
test-vault/.obsidian/themes/Nordic/*.json
test-vault/.obsidian/plugins/
