@function toRGB($color) {
    @return unquote("#{red($color)}, #{green($color)}, #{blue($color)}");
}

.theme-dark,
.theme-light,
.theme-dark.nordic-base,
.theme-light.nordic-base,
.is-mobile.theme-dark,
.is-mobile.theme-light {
    $red: #bf616a;
    $orange: #d08770;
    $yellow: #ebcb8b;
    $green: #a3be8c;
    $cyan: #61b1bf;
    $blue: #6199bf;
    $purple: #958eb4;
    $pink: #b48ead;

    --color-red: #{$red};
    --color-red-rgb: #{toRGB($red)};
    --color-orange: #{$orange};
    --color-orange-rgb: #{toRGB($orange)};
    --color-yellow: #{$yellow};
    --color-yellow-rgb: #{toRGB($yellow)};
    --color-green: #{$green};
    --color-green-rgb: #{toRGB($green)};
    --color-cyan: #{$cyan};
    --color-cyan-rgb: #{toRGB($cyan)};
    --color-blue: #{$blue};
    --color-blue-rgb: #{toRGB($blue)};
    --color-purple: #{$purple};
    --color-purple-rgb: #{toRGB($purple)};
    --color-pink: #{$pink};
    --color-pink-rgb: #{toRGB($pink)};

    --accent-h: 210;
    --accent-s: 34%;
    --accent-l: 63%;

    --accent-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));

    --text-highlight-bg: var(--accent-color);

    --header-color: var(--accent-color);
    --inline-title-color: var(--accent-color);
    --inline-title-font: var(--header-font);
    --bold-color: var(--accent-color);

    --tab-radius: 0;
    --tab-radius-active: 0;
    --tab-outline-width: 2px;
    --tab-curve: 0;
    --tab-outline-color: var(--accent-color);
    --tab-text-color-focused-active-current: var(--frost2);
    --bold-weight: 700;
    --header-font: "Norwester";

    --h1-color: var(--header-color);
    --h2-color: var(--header-color);
    --h3-color: var(--header-color);
    --h4-color: var(--header-color);
    --h5-color: var(--header-color);
    --h6-color: var(--header-color);

    .markdown-source-view:not(.is-live-preview) {
        --h1-size: var(--font-text);
        --h2-size: var(--font-text);
        --h3-size: var(--font-text);
        --h4-size: var(--font-text);
        --h5-size: var(--font-text);
        --h6-size: var(--font-text);
    }




    .markdown-rendered,
    .markdown-source-view:is(.is-live-preview) {
        --h1-font: var(--header-font);
        --h2-font: var(--header-font);
        --h3-font: var(--header-font);
        --h4-font: var(--header-font);
        --h5-font: var(--header-font);
        --h6-font: var(--header-font);
    }
}

.is-mobile.theme-dark,
.theme-dark,
.theme-dark.nordic-base {
    --nord-color-base-00: #{$nord0};
    --nord-color-base-05: #{$nord0};
    --nord-color-base-10: #{$nord1};
    --nord-color-base-20: #{$nord1};
    --nord-color-base-25: #{$nord2};
    --nord-color-base-30: #{$nord2};
    --nord-color-base-35: #{$nord3};
    --nord-color-base-40: #{$nord3};
    --nord-color-base-50: #{$nord4};
    --nord-color-base-60: #{$nord4};
    --nord-color-base-70: #{$nord5};
    --nord-color-base-100: #{$nord6};

    --color-base-00: color-mix(in srgb, var(--nord-color-base-00), #000 var(--nordic-darken));
    --color-base-05: color-mix(in srgb, var(--nord-color-base-05), #000 var(--nordic-darken));
    --color-base-10: color-mix(in srgb, var(--nord-color-base-10), #000 var(--nordic-darken));
    --color-base-20: color-mix(in srgb, var(--nord-color-base-20), #000 var(--nordic-darken));
    --color-base-25: color-mix(in srgb, var(--nord-color-base-25), #000 var(--nordic-darken));
    --color-base-30: color-mix(in srgb, var(--nord-color-base-30), #000 var(--nordic-darken));
    --color-base-35: color-mix(in srgb, var(--nord-color-base-35), #000 var(--nordic-darken));
    --color-base-40: color-mix(in srgb, var(--nord-color-base-40), #000 var(--nordic-darken));
    --color-base-50: var(--nord-color-base-50);
    --color-base-60: var(--nord-color-base-60);
    --color-base-70: var(--nord-color-base-70);
    --color-base-100: var(--nord-color-base-100);
}



.is-mobile.theme-light,
.theme-light,
.theme-light.nordic-base {
    --nord-color-base-00: white;
    --nord-color-base-05: white;
    --nord-color-base-10: #{$nord6};
    --nord-color-base-20: #{$nord6};
    --nord-color-base-25: #{$nord5};
    --nord-color-base-30: #{$nord5};
    --nord-color-base-35: #{$nord4};
    --nord-color-base-40: #{$nord4};
    --nord-color-base-50: #{$nord3};
    --nord-color-base-60: #{$nord2};
    --nord-color-base-70: #{$nord1};
    --nord-color-base-100: #{$nord0};


    --color-base-00: var(--nord-color-base-00);
    --color-base-05: var(--nord-color-base-05);
    --color-base-10: var(--nord-color-base-10);
    --color-base-20: var(--nord-color-base-20);
    --color-base-25: var(--nord-color-base-25);
    --color-base-30: var(--nord-color-base-30);
    --color-base-35: var(--nord-color-base-35);
    --color-base-40: var(--nord-color-base-40);
    --color-base-50: var(--nord-color-base-50);
    --color-base-60: var(--nord-color-base-60);
    --color-base-70: var(--nord-color-base-70);
    --color-base-100: var(--nord-color-base-100);
}