

.theme-dark {
	--calendar-hover: var(--nav-item-color-hover);
	--calendar-background-hover: var(--dark3);
	--calendar-week: var(--nav-item-color-active);
	--calendar-today: var(--nav-item-color-active);
}

.theme-light {
	--calendar-hover: var(--nav-item-color-hover);
	--calendar-background-hover: var(--light0);
	--calendar-week: var(--nav-item-color-active);
	--calendar-today: var(--nav-item-color-active);
}



.calendar .week-num {
	color: var(--calendar-week) !important;
}

.calendar .today {
	color: var(--calendar-today) !important;
}

.calendar .week-num:hover,
.calendar .day:hover {
	color: var(--calendar-hover) !important;
	background-color: var(--calendar-background-hover) !important;
}
