/* Block Style Callouts from ITSTHEME SRD  */


.callout {
  --callout-padding: 0;
  --callout-content-padding: 0 10px;
  --callout-title-padding: 6px 10px;
  --callout-title-background: var(--callout-color);
  --callout-border-opacity: .5;
  --callout-radius: 0;
}

.callout-title {
  background-color: rgba(var(--callout-title-background, var(--callout-color)), 0.2);
}


.callout.is-collapsible:not(.is-collapsed) > .callout-content {
  border-bottom: 1px solid rgba(var(--callout-color), var(--callout-border-opacity));
}