.theme-dark {
	--cursor-line-background: var(--dark1);

	--prompt-border-color: var(--dark3);

	--tag-color: var(--frost0);
	--tag-background: var(--dark2);
	--tag-background-hover: var(--dark1);

	--icon-color-focused: var(--frost2);
	--tab-text-color-focused-active-current: var(--frost2);
	--titlebar-text-color-focused: var(--light1);

	--blockquote-border-color: var(--dark3);

	--icon-color-hover: var(--frost1);
	--nav-item-color-hover: var(--frost1);
	--nav-item-color-active: var(--frost1);
	--nav-file-tag: rgba(var(--frost2), 0.7);

	--graph-line: var(--frost3);
	--graph-node: var(--light2);
}

.theme-light {
	--tag-color: var(--dark3);
	--tag-background: var(--light1);
	--tag-background-hover: var(--light0);

	--icon-color-focused: var(--frost2);
	--tab-text-color-focused-active-current: var(--frost2);
	--titlebar-text-color-focused: var(--dark1);

	--blockquote-border-color: var(--dark3);

	--icon-color-hover: var(--frost3);
	--nav-item-color-hover: var(--frost3);
	--nav-item-color-active: var(--frost3);
	--nav-file-tag: rgba(var(--frost2), 0.7);

	--graph-line: var(--light0);
	--graph-node: var(--dark3);

	.nav-file-tag {
		color: var(--nav-file-tag) !important;
	}
}

:root  {
	--tag-decoration: none;
	--tag-decoration-hover: underline;
	--tag-padding-x: .5em;
	--tag-padding-y: .2em;
	--tag-radius: .5em;
}

.search-result-file-matched-text {
	color: var(--text-highlight-fg) !important;
}

.markdown-embed-title {
	color: var(--frost2);
	font-weight: 600 !important;
}
