.theme-dark {

	--background-primary: var(--dark0);
	--background-primary-alt: var(--dark0);
	--background-secondary: var(--dark1);
	--background-secondary-alt: var(--dark2);
	--background-modifier-border: var(--dark2);
	--background-modifier-form-field: var(--dark1);
	--background-modifier-border-hover: var(--dark1);
	--background-modifier-border-focus: var(--dark3);

	--interactive-normal: var(--dark1);
	--interactive-hover: var(--dark2);

	--text-normal: var(--light2);
	--text-faint: var(--light0);
	--text-muted: var(--light1);
	--text-highlight-bg: var(--frost1);
	--text-highlight-fg: var(--dark0);
	--text-accent: var(--frost1);
	--text-accent-hover: var(--frost2);
	--tab-font-weight: 600;
	--bold-weight: 600;
}

.theme-light {

	--background-primary: var(--light3);
	--background-primary-alt: var(--light3);
	--background-secondary: var(--light2);
	--background-secondary-alt: var(--light1);
	--background-modifier-border: var(--light1);

    --text-normal: var(--dark2);
	--text-faint: var(--dark0);
	--text-muted: var(--dark1);
	--text-highlight-bg: var(--frost1);
	--text-highlight-fg: var(--dark0);
	--text-accent: var(--frost1);
	--text-accent-hover: var(--frost2);
}
