.theme-dark {

	--checkbox-color: var(--frost0);
	--checkbox-color-hover: var(--frost0);
	--checkbox-border-color: var(--frost0);
	--checkbox-border-color-hover: var(--frost0);
	--checklist-done-color: rgba(var(--light2-raw), 0.5);
}

.theme-light {
	--checkbox-color: var(--frost2);
	--checkbox-color-hover: var(--frost2);
	--checkbox-border-color: var(--frost2);
	--checkbox-border-color-hover: var(--frost2);
	--checklist-done-color: rgba(var(--dark2-raw), 0.4);
}

body {
	--checkbox-radius: 0;
}
