.theme-dark {

	--link-decoration: none;
	--link-decoration-hover: none;
	--link-external-decoration: none;
	--link-external-decoration-hover: none;
}

.theme-light {

	--link-decoration: none;
	--link-decoration-hover: none;
	--link-external-decoration: none;
	--link-external-decoration-hover: none;
	
}

