@function toRGB($color) {
	@return unquote("#{red($color)}, #{green($color)}, #{blue($color)}");
}

@mixin includeVariables($variable, $color) {
	--#{$variable}-raw: #{toRGB($color)};
	--#{$variable}: #{$color};
}

$colors: (
	"dark0": #2e3440,
	"dark1": #3b4252,
	"dark2": #434c5e,
	"dark3": #4c566a,
	"light0": #d8dee9,
	"light1": #e5e9f0,
	"light2": #eceff4,
	"light3": #ffffff,
	"frost0": #8fbcbb,
	"frost1": #88c0d0,
	"frost2": #81a1c1,
	"frost3": #5e81ac,
);



@function nord($name) {
	@return map-get($colors, "#{$name}");
}

:root {
	@each $name, $color in $colors {
		@include includeVariables("#{$name}", $color);
	}
}






.theme-dark, .theme-light {
	--accent-h: 210;
	--accent-s: 34%;
	--accent-l: 63%;

	$purple: #b48ead;
	$yellow: #ebcb8b;
	$green: #a3be8c;
	$orange: #d08770;
	$red: #bf616a;
	$blue: #6199bf;
  
	--color-red: #{$red};
	--color-red-rgb: #{toRGB($red)};
	--color-orange: #{$orange};
	--color-orange-rgb: #{toRGB($orange)};
	--color-yellow: #{$yellow};
	--color-yellow-rgb: #{toRGB($yellow)};
	--color-green: #{$green};
	--color-green-rgb: #{toRGB($green)};
	--color-purple: #{$purple};
	--color-purple-rgb: #{toRGB($purple)};
	--color-blue: #{$blue};
	--color-blue-rgb: #{toRGB($blue)};
}


