@import 'colors.scss';
@import 'themes/light.scss';
@import 'themes/dark.scss';

@import 'addons/liamcain_calendar.scss';
@import 'addons/obsidian_dataview.scss';

@import "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap";

:root {
	--default-font: 'Rubik';
	--h1-color: var(--frost2);
	--h2-color: var(--frost2);
	--h3-color: var(--frost2);
	--h4-color: var(--frost2);
	--h5-color: var(--frost2);
	--h6-color: var(--frost2);
	--inline-title-color: var(--frost2);
	--bold-color: var(--text-normal);
	--italic-color: var(--text-normal);

}


body {
	--link-decoration: none;
	--link-decoration-hover: none;
	--link-external-decoration: none;
	--link-external-decoration-hover: none;
	--tag-decoration: none;
	--tag-decoration-hover: underline;
	--tag-padding-x: .5em;
	--tag-padding-y: .2em;
	--tag-radius: .5em;
	--tab-font-weight: 600;
	--bold-weight: 600;
	--checkbox-radius: 0;
}





table {
	border: 1px solid var(--background-secondary) !important;
	border-collapse: collapse;
}

thead {
	border-bottom: 2px solid var(--background-modifier-border) !important;
}

th {
	font-weight: 600 !important;
	border: 1px solid var(--background-secondary) !important;
}

td {
	border-left: 1px solid var(--background-secondary) !important;
	border-right: 1px solid var(--background-secondary) !important;
	border-bottom: 1px solid var(--background-secondary) !important;
}

.markdown-rendered tbody tr:nth-child(even) {
	background-color: var(--table-row-even-background) !important;
}

.markdown-rendered tbody tr:nth-child(odd) {
	background-color: var(--table-row-odd-background) !important;
}

.markdown-rendered tbody tr:nth-child(even):hover,
.markdown-rendered tbody tr:nth-child(odd):hover {
	background-color: var(--table-row-background-hover) !important;
}

.markdown-rendered mark {
	background-color: var(--text-highlight-bg);
	color: var(--text-highlight-fg);
}

.markdown-rendered mark a {
	color: var(--red) !important;
	font-weight: 600;
}

.search-result-file-matched-text {
	color: var(--text-highlight-fg) !important;
}

.cm-hashtag-begin:hover,
.cm-hashtag-end:hover {
	color: var(--text-accent);
	text-decoration: underline;
}

input[type=checkbox] {
	border: 1px solid var(--checkbox-color);
}

input[type=checkbox]:checked {
	background-color: var(--checkbox-color);
	box-shadow: inset 0 0 0 2px var(--background-primary);
}

input[type=checkbox]:checked:after {
	display: none;
}

code[class*="language-"],
pre[class*="language-"] {
	line-height: var(--line-height-tight) !important;
}



.cm-url {
	color: var(--text-accent) !important;
}

.cm-url:hover {
	color: var(--text-accent-hover) !important;
}

/* Keep highlight/marks the same between viewer and editor. */
.cm-highlight {
	color: var(--text-highlight-fg) !important;
}

/* Keep inline code the same between viewer and editor. */
.cm-inline-code {
	border-radius: var(--radius-s);
	font-size: var(--code-size);
	padding: 0.1em 0.25em;
}

.cm-formatting-code+.cm-inline-code {
	border-radius: 0;
	padding: 0.1em 0;
}

.cm-formatting-code {
	border-radius: var(--radius-s) 0 0 var(--radius-s);
	padding: 0.1em 0 0.1em 0.25em;
}

.cm-inline-code+.cm-formatting-code {
	border-radius: 0 var(--radius-s) var(--radius-s) 0;
	padding: 0.1em 0.25em 0.1em 0;
}

.cm-line .cm-strong {
	color: var(--bold-color) !important;
}



.markdown-embed-title {
	color: var(--frost2);
	font-weight: 600 !important;
}

.nav-file-tag {
	color: var(--nav-file-tag) !important;
}
